MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_USER=delta_game
MYSQL_PASSWORD=change_database_password
REDIS_PASSWORD=change_redis_password
JWT_SECRET=change_jwt_secret_at_least_256_bits_long
AES_KEY=change_aes_key_16
AUTH_H5_LOGIN_CODE=123456
WX_PAY_ENABLED=false
FILE_UPLOAD_URL_PREFIX=/file/
ADMIN_PORT=8081
H5_PORT=8082
